:root {
  --primary: #4361ee;
  --dark: #21252B;
  --white: #FAFAFA;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  height: 80vh;
  width: 100vw;
  display: flex;
  color: var(--dark);
  background-color: var(--white);
}

main {
  max-width: 320px;
  margin: auto;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 600;
  text-align: center;
}

a {
  margin: 4px;
  color: var(--primary);
  text-decoration: none;
}